
<a class="custom-card" asp-controller="Item" asp-action="Item1">
    <div class="card">
        <img class="card-img-top" src="~/images/products/adidas.webp" alt="Adidas">
        <div class="card-body">
            <h5 class="card-title">Adidas</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quis.</p>
        </div>
    </div>
</a>