
    <a class="custom-card" asp-controller="Item" asp-action="Item3">
        <div class="card">
            <img class="card-img-top" src="~/images/products/reebok.jpg" alt="Reebok">
            <div class="card-body">
                <h5 class="card-title">Reebok</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quis.</p>
            </div>
        </div>
    </a>