@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section>
        <div id="header-bg-img">
            <h5>Europas största urval av mode & trender</h5>
            <p>Välj och vraka bland över 2000 märken och klicka hem dina favoriter</p>
        </div>
        <div class="card-group">
            <partial name="_item1Partial" />
            <partial name="_item2Partial" />
            <partial name="_item3Partial" />   
        </div>
    </section>
</main>
